
body{
    background: #000;
}
.homepage-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.belownavbar {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}


/* Overlay with dark filter */
.belownavbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
    z-index: 0;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;


}

.content {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}




.vdo_home_content_main{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    top: 30vh;
    /* border: 1px solid whitesmoke;  to be may be implemnted */
    position: absolute;
    color: #fff;
    font-family: Helvetica;
    width: 80vw;
}



.vdo_home_content_main {
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Move from the bottom */
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .vdo_home_content_main.visible {
    opacity: 1; /* Make visible */
    transform: translateY(0); /* Move to original position */
  }
  

.vdo_home_content_logo {

    width: 45%;
    /* border: 2px solid red; */
}

.vdo_home_content_logo img{

    /* border: 2px solid green; */

    width: 100%;
}

.vdo_home_content_text{

    /* border: 2px solid white; */
    width: 50%;


}



.vdoheadhomepage{

font-weight: 700;
font-size: 22px;
margin-bottom: 20px;
text-align: center;
}

.vdohome_contentone{
font-size: 14px;
margin-bottom: 15px;
font-weight: 700;
text-align: center;

}

.vdohome_contenttwo{

    font-size: 18px;
margin-bottom: 15px;
font-weight: 700;
}


.home_fatsoma{


    margin: 100px 00;
}


.rotating-logo {
  transition: transform 0.1s linear;
  transform-style: preserve-3d;
  width: 150px;
  height: auto;
}



@media screen and (max-width: 768px) {
    .vdo_home_content_main {
        flex-direction: column;
        top: 25vh;
    }

    .vdo_home_content_logo, .vdo_home_content_text {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .vdo_home_content_text {
        margin-top: 20px;
    }

    .background-video {
     height: 100vh;
    
    
    }
    
}