/* Container */
.beAlbumnew_container {
    background: #000;
    min-height: 100vh;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 100px;
  }
  
  /* Square Card */
  .beAlbumnew_card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  
    aspect-ratio: 1 / 1;
    width: 100%;
  }
  
  /* Image */
  .beAlbumnew_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    filter: grayscale(100%);
    transition: 0.4s ease;
  }
  
  /* Hover Image */
  .beAlbumnew_card:hover .beAlbumnew_image {
    transform: scale(1.08);
    filter: grayscale(0%);
  }
  
  /* Overlay */
  .beAlbumnew_overlay {
    position: absolute;
    inset: 0;
  
    background: rgba(0, 0, 0, 0.7);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    text-align: center;
    padding: 15px;
  
    opacity: 0;
    transition: 0.3s ease;

  }
  
  /* Show Overlay */
  .beAlbumnew_card:hover .beAlbumnew_overlay {
    opacity: 1;
  }
  
  
  /* Title */
  .beAlbumnew_title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
  }
  
  /* Date */
  .beAlbumnew_date {
    color: #ddd;
    font-size: 13px;
    margin-bottom: 4px;
  }
  
  /* Venue */
  .beAlbumnew_venue {
    color: #ccc;
    font-size: 13px;
    margin-bottom: 8px;
  }
  
  /* Tags */
  .beAlbumnew_tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }
  
  .beAlbumnew_tags span {
    font-size: 10px;
    color: #aaa;
  
    border: 1px solid #444;
    padding: 2px 6px;
    border-radius: 10px;
  }
  
  /* Responsive */
  @media (max-width: 900px) {
    .beAlbumnew_container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .beAlbumnew_container {
      grid-template-columns: 1fr;
    }
  }
  