.moodern_photos_text_sect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.moder_photos_heading {
  font-weight: 900;
  font-size: 60px;
  color: #fff;
  font-family: Helvetica;
}

.moder_photos_btn {
  padding: 10px 15px;
  background-color: yellow;
  font-size: 24px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.moden_photos_section {
  width: 100%;
  /* height: 60vh; */
  background-color: #000;

  display: grid;
  place-items: center;
  /* border: 1px solid red; */
  margin: 100px auto 250px auto;
}
.moden_photos_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}
.moden_photos_section_container {
  max-width: 80vw;
  /* max-height:550px; */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* border: 1px solid yellow; */
}
.moden_photos_section_container:hover img {
  opacity: 0.3;
  cursor: pointer;
}
.moden_photos_section_container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.album_container {
  position: relative;
  width: 100%;
}

.album_name_homepage_text {
  color: #fff;
  display: none;
  position: absolute;
  /* top: -20%; */
  bottom: -100px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Center text over image */
  text-align: center;
  z-index: 1000;
  width: 100%;
}

.album_container:hover .album_name_homepage_text {
  display: block;
}


.album_name_homepage_text_title{


  font-weight: 600;
}

.album_name_homepage_text_venue{

  font-weight: 400;
  font-size: 12px;
}
.horizontal_line{

  border: none;
  height: 2px; 
  background-color: rgb(69, 60, 21); 
  width: 70%; 
  margin-left: 40px;
}


@media screen and (max-width: 768px) {


  .moder_photos_heading {
    font-size: 36px;
  }

  .moder_photos_btn {
    font-size: 14px;
    padding: 8px 12px;
  }

}