/* ================= CONTAINER ================= */

.faq-container {
  background: #000;

  padding: 80px 20px;
  color: #fff;

  margin: 10vh auto 10vh auto;
}

/* ================= HEADER ================= */

.faq-header {
  text-align: center;
  margin-bottom: 40px;
}

.faq-header h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 10px;
}

.faq-header p {
  color: #aaa;
  font-size: 16px;
}

/* ================= SEARCH ================= */

.faq-search-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.faq-search {
  width: 100%;
  max-width: 800px;
  padding: 15px 20px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

.faq-search::placeholder {
  color: #888;
}

/* ================= TABS ================= */

.faq-tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  /* margin-bottom: 40px; */
  margin: 0 auto 30px auto;

 
  max-width: 800px;
}

.faq-tab {
  background: transparent;
  border: none;
  color: #aaa;
  font-size: 13px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.faq-tab:hover {
  color: #fff;
}

.faq-tab.active {
  background: #fff;
  color: #000;
  font-weight: bold;
}

/* ================= LIST ================= */

.faq-list {
  max-width: 800px;
  margin: auto;
}

/* ================= ITEM ================= */

.faq-item {
  background: #0c0c0c;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  border: 1px solid #1a1a1a;
}

/* Category label (only on search) */
.faq-category {
  background: #111;
  color: #888;
  font-size: 12px;
  padding: 6px 15px;
  border-bottom: 1px solid #1a1a1a;
}

/* ================= QUESTION ================= */

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}

.faq-question:hover {
  background: #151515;
}

/* ================= ICON ================= */

.faq-icon {
  font-size: 22px;
  font-weight: bold;
}

/* ================= ANSWER ================= */

.faq-answer {
  padding: 18px 20px;
  color: #ccc;
  line-height: 1.6;
  border-top: 1px solid #1a1a1a;
  background: #0f0f0f;
}

/* ================= NO RESULT ================= */

.no-result {
  text-align: center;
  color: #777;
  margin-top: 30px;
}