.logo-slider {
    overflow: hidden;
    width: 100%;
    margin: 30px 00;
  }
  
  .slider-item {
    padding: 10px;
  }
  

  .slider-item:hover {
 
    cursor: grab;
  }



  @media screen and (max-width: 768px) {


    .slider-item {
      padding: 10px;

    }

    .slick-slide img {
    width: 100px !important;
    }



    .logo-slider {

      margin: 10px 00;
    }
  }