/* .fatsoma_tkt_widget{


} */

.tkt_events_wdgts_top{
    width: 95vw;
    margin: 00 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.tkt_event_wdgt_btn{

    /* color: #fff; */
    padding: 10px;
    font-size: 48px;
    font-weight: 800;
    background-color: yellow;
    display: inline;
    border-radius: 5px;

}

.fatsoma_tkt_wgt_main{

    /* border: 2px solid rgb(0, 255, 136); */
    max-width: 95vw;
    margin: 20px auto;
  

    
}

.tkt_events_wdgts_top_right{
    margin: 20px 0;
}
.tkt_events_wdgts_top_right  span{
    color: yellow !important;
    font-size: 24px ;
    text-align: center;
  }
  

  .tkt_events_wdgts_top_left{

    margin: 20px 0;
  }


  @media screen and (max-width: 768px) {

    .tkt_events_wdgts_top{
        flex-direction: column;
        align-items: center;
    }

    .tkt_event_wdgt_btn{

        font-size: 36px;
        margin-top: 10px;
    }

  }