.lisenced {
  display: flex;
  /* border: 2px solid white; */
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.lisenced-logo {
  width: 40%;
  text-align: center;
  /* border: 1px solid white; */
}

.lisenced-logo img {
  width: 50%;
  /* border: 1px solid teal; */
}

.lisenced-note {
  color: #fff;
  font-size: 8px;
  font-weight: 900;
  text-align: center;
}
.lisenced-note a {
  color: #fff;
  font-size: 7px;
  font-weight: 900;
}
.li{
  font-size: 3px;
}

.footer {
  width: 60%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: space-around;
  color: #fff;
  margin: 100px auto;
}

.footer-box1 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.footer-box1 ul,
.footer-box4 ul {
  list-style: none;
}
.footer-box1 ul li,
.footer-box4 ul li {
  margin-top: 5px;
}

.footer-box1 ul li a,
.footer-box4 ul li a {
  text-decoration: none;
  color: #fff;
  /* border: 2px solid red; */
  font-size: 16px;
  font-weight: 900;
}

.footer-box3 {
  width: 25%;
}

.footer-icons {
  font-size: 40px;
  cursor: pointer;
}

.footer-box3 img {
  width: 12%;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 00 10px;
}

.footer-box4 {
  width: 25%;
  /* border: 1px solid yellow; */
}

.bottom_footer {
  background-color: #000;
  color: #fff;
}

.bottom_footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 10px auto 50px auto;
  list-style: none;
}

.bottom_footer ul li a {
  color: #fff;

  text-decoration: none;
  margin: 00 5px;
  font-weight: 900;
  font-size: 6px;
}

.footer_main_parent a:hover,
.isenced-note a:hover {
  color: #FFFF00;
}


@media screen and (max-width: 768px) {


  .footer {

    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px;
    width: 80%;
    margin: 10px auto;
  }

  .footer-box1,
  .footer-box3,
  .footer-box4 {
    width: auto;
    text-align: left;
  }

  .lisenced {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  .lisenced-logo {
    width: 80%;
  }

  .footer-box3 img {
    width: 20%;
  }

  .bottom_footer ul li {
    flex-direction: row;
    width: 80%;
    gap: 10px;
  }


  .lisenced-logo img {
    width: 100%;
}

.lisenced-note{

  margin: 10px auto;
  font-size: 12px;
}


.lisenced-note a {


  font-size: 12px;
}

.bottom_footer ul li a {


  font-size: 10px;
}

.footer-box1 ul li, .footer-box4 ul li{

  margin-top: 0;
}

}