.prefooter {
  background: #000;
  padding: 10px 0;
}

.prefooter_main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.prefooter_main_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.prefooter_main_left img {
  width: 100%;
  object-fit: contain;
}

/* RIGHT */
.prefooter_main_right {
  flex: 1;
  color: #fff;
}

.prefooter_heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.prefooter_subheading {
  font-size: 15px;
  color: #b5b5b5;
  margin-bottom: 30px;
}

.prefooter_subheading strong {
  color: #fff;
}

/* FORM */
.prefooter_form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
}

.prefooter_form_row {
  display: flex;
  gap: 12px;
}

.prefooter_form input {
  flex: 1;
  padding: 14px 18px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
}

.prefooter_form input::placeholder {
  color: #777;
  font-weight: 600;
}

.prefooter_form input:focus {
  outline: none;
  border-color: #fff;
}

/* BUTTON */
.prefooter_form button {
  padding: 14px 28px;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.prefooter_form button:hover {
  background: #eaeaea;
}

/* PRIVACY */
.prefooter_privacy {
  margin-top: 20px;
  font-size: 13px;
  color: #cfcfcf;
}

.prefooter_privacy span {
  text-decoration: underline;
  cursor: pointer;
}



/* FOR CHECKBOX START */

/* CHECKBOX */
.prefooter_checkbox span {
 padding: 00 5px;
}



/* FOR CHECK BOX END */

/* RESPONSIVE */
@media (max-width: 768px) {
  .prefooter {
    padding: 60px 20px;
  }

  .prefooter_main {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .prefooter_main_left {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .prefooter_form_row {
    flex-direction: column;
  }

  .prefooter_form {
    margin: auto;
  }


  .prefooter_form {

    flex-direction: column-reverse;

}
}
