.brandWrapper {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  margin: 20vh auto 10vh;
}

/* Main */
.brandContainer {
  width: 65%;
  max-width: 1100px;
  display: flex;
  gap: 80px;
}

/* Left */
.brandLeft {
  width: 50%;
  color: #fff;
}

.smallTitle {
  font-size: 14px;
  margin-bottom: 8px;
}

.smallTitle.green {
  color: #adf1ad;
}

.brandLeft h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
}

.desc {
  font-size: 15px;
  color: #ccc;
  margin-bottom: 10px;
  line-height: 1.6;
}

/* Right */
.brandRight {
  width: 50%;
}

/* Services */
.services {
  color: #adf1ad;
  font-size: 14px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.services p {
  margin-bottom: 6px;
}

.services h4 {
  color: #fff;
  margin-top: 15px;
  font-size: 14px;
}

/* Form */
.bwForm {
  width: 100%;
  max-width: 420px;
}

/* Inputs */
.bwForm input,
.bwForm textarea {
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.6);
  color: #fff;
  padding: 14px;
  margin-bottom: 16px;
  font-size: 14px;
  outline: none;
}

.bwForm input::placeholder,
.bwForm textarea::placeholder {
  color: #777;
}

.bwForm input:focus,
.bwForm textarea:focus {
  border-color: #fff;
}

/* Button */
.bwForm button {
  width: 100%;
  background: #fff;
  color: #000;
  padding: 14px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .3s;
}

.bwForm button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

/* Tablet */
@media (max-width: 1024px) {
  .brandContainer {
    width: 80%;
    gap: 50px;
  }

  .brandLeft h1 {
    font-size: 34px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .brandWrapper {
    margin: 120px auto 60px;
  }

  .brandContainer {
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .brandLeft,
  .brandRight {
    width: 100%;
  }

  .services {
    text-align: center;
  }

  .brandLeft h1 {
    font-size: 34px;
  }

  .bwForm {
    margin: auto;
  }
}

/* Small Phones */
@media (max-width: 480px) {
  .brandLeft h1 {
    font-size: 34px;
  }
}



.Advrtswthus_form_hdn{

  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
}