
.contactUsPage{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto 100px auto;


}

.bwForm {
    background: #000;
    color: #fff;
    padding: 40px;
    max-width: 420px;
  }
  
  .bwForm h2 {
    margin-bottom: 20px;
  }
  
  .bwForm input,
  .bwForm textarea {
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px;
    margin-bottom: 15px;
  }
  
  .bwForm button {
    background: #fff;
    color: #000;
    padding: 12px;
    border: none;
    width: 100%;
  }
  


  .groupbookings_page{

    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 100px auto;
  }



  .bwformpage{


    display: flex;

    align-items: center;
    justify-content: center;

    height: 80vh;
  }




  /* for making all the placeholders of the FORMS SAME */



  .bwForm input,
.bwForm textarea {
  font-family: inherit;   /* inherit from parent */
  font-size: 16px;        /* same size */
}

/* Placeholder styling */
.bwForm input::placeholder,
.bwForm textarea::placeholder {
  font-family: inherit;
  font-size: 16px;
  color: #777; /* optional (same shade everywhere) */
}
